.tipo1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}
.tipo2{
    font-family: 'Gochi Hand', cursive;
    font-weight: 400;
}
.tipo3{
    font-family: 'Marck Script', cursive;

}

.tipo4{
    font-family: 'Nothing You Could Do', cursive;

}

.tipo5{
    font-family: 'Syncopate', sans-serif;
}